body{
	font-family: Lato;
	font-size: 16px;
	font-weight: 100px;
	text-align: justify;
	text-align: center;
	background-color: #E6EEF0;
	color: #F7F9FA;
	padding: 0;
}

h1,h2{
	color: #9E2301;
}

#jesus {
	width: 445px;
	height:390px;
	border-radius: 50%;
}
a{
	text-decoration: none;
	color: #F7F9FA; ;
}
i{
	font-size: 30px;
	color: blue;
	padding: auto;

}
div {
	width: 1075px;
	margin: 40px auto;
	margin-bottom: 45px auto;
	padding: auto;
	background: #1B7DAE;
	border: solid;
	text-align: center;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contact{
	padding: 35px auto;
	border-radius: 5px;
	background-color: blueviolet;
	width: 95px;
	height: 80px;

}
.contact:hover
{
	background-color: skyblue;
	transition: 1s;
	display: inline-block;
}
ul{
	list-style: none;
}
.icon li {
	display: inline;
}
.icon{
	padding-inline-start: 20px; 
	writing-mode: horizontal-tb;
}